<%= form_for [@customer, @device] do |f| %>
  <% if @device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% @device.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
<div class="field">
    <%= f.label :incomAddress %><br />
    <%= f.text_field :incomAddress %>
  </div>
<div class="field">
    <%= f.label :deviceType %><br />
    <%= f.text_field :deviceType %>
  </div>
<div class="field">
    <%= f.label :dsName %><br />
    <%= f.text_field :dsName %>
  </div>
<div class="field">
    <%= f.label :frameSize %><br />
    <%= f.text_field :frameSize %>
  </div>
<div class="field">
    <%= f.label :descName %><br />
    <%= f.text_field :descName %>
  </div>
<div class="field">
    <%= f.label :descLocation %><br />
    <%= f.text_field :descLocation %>
  </div>
<div class="field">
    <%= f.label :descBucket %><br />
    <%= f.text_field :descBucket %>
  </div>
<div class="field">
    <%= f.label :trending %><br />
    <%= f.text_field :trending %>
  </div>
<div class="field">
    <%= f.label :plugCTrating %><br />
    <%= f.text_field :plugCTrating %>
  </div>
<div class="field">
    <%= f.label :voltageClass %><br />
    <%= f.text_field :voltageClass %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
