<p id="notice"><%= notice %></p>

<p>
  <b>Name / ID:</b>
  <%= @device.name %>
</p>
<p>
  <b>incom Address:</b>
  <%= @device.incom_address %>
</p>
<p>
  <b>Device Type:</b>
  <%= @device.device_type %>
</p>
<p>
  <b>DS Name:</b>
  <%= @device.ds_name %>
</p>
<p>
  <b>Frame Size:</b>
  <%= @device.frame_size %>
</p>
<p>
  <b>Name Description:</b>
  <%= @device.descName %>
</p>
<p>
  <b>Physical Location:</b>
  <%= @device.desc_location %>
</p>
<p>
  <b>Bucket Location:</b>
  <%= @device.desc_bucket %>
</p>
<p>
  <b>Trending:</b>
  <%= @device.trending %>
</p>
<p>
  <b>Plug / CT Rating:</b>
  <%= @device.plug_ctrating %>
</p>
<p>
  <b>Voltage Class:</b>
  <%= @device.voltage_class %>
</p>
<p>
  <b>Status:</b>
  <%= @device.status %>
</p>

<p>
  <b>Upstream Device:</b>
  <%= @device.upstream_device %>
</p>
<p>
  <b>MAC Address:</b>
  <%= @device.mac_address %>
</p>
<p>
  <b>Firmware Revision:</b>
  <%= @device.firmware %>
</p>
<p>
  <b>Amps:</b>
  <%= @device.amps %>
</p>
<p>
  <b>Power Factor:</b>
  <%= @device.power_factor %>
</p>
<p>
  <b>LAN Type:</b>
  <%= @device.lan_type %>
</p>
<p>
  <b>Host Name:</b>
  <%= @device.host_name %>
</p>
<p>
  <b>IP Address Setting:</b>
  <%= @device.ip_address_setting %>
</p>
<p>
  <b>Default Gateway:</b>
  <%= @device.default_gateway %>
</p>
<p>
  <b>Preferred DNS Server:</b>
  <%= @device.preferred_dns_server %>
</p>
<p>
  <b>Alt DNS Server:</b>
  <%= @device.alternate_dns_server %>
</p>
<p>
  <b>Domain Name:</b>
  <%= @device.domain_name %>
</p>
<p>
  <b>Modbus TCP enabled:</b>
  <%= @device.modbus_tcp_enabled %>
</p>




<%= link_to 'Edit', edit_customer_device_path(@device.customer_id, @device)  %> |
<%= link_to 'Back', customer_path(@device.customer_id) %>
