<p id="notice"><%= notice %></p>

<p>
  <b>Name / ID:</b>
  <%= @device.name %>
</p>
<p>
  <b>incom Address:</b>
  <%= @device.incomAddress %>
</p>
<p>
  <b>Device Type:</b>
  <%= @device.deviceType %>
</p>
<p>
  <b>DS Name:</b>
  <%= @device.dsName %>
</p>
<p>
  <b>Frame Size:</b>
  <%= @device.frameSize %>
</p>
<p>
  <b>Name Description:</b>
  <%= @device.descName %>
</p>
<p>
  <b>Physical Location:</b>
  <%= @device.descLocation %>
</p>
<p>
  <b>Bucket Location:</b>
  <%= @device.descBucket %>
</p>
<p>
  <b>Trending:</b>
  <%= @device.trending %>
</p>
<p>
  <b>Plug / CT Rating:</b>
  <%= @device.plugCTrating %>
</p>
<p>
  <b>Voltage Class:</b>
  <%= @device.voltageClass %>
</p>




<%= link_to 'Edit', edit_customer_device_path(@device.customer_id, @device)  %> |
<%= link_to 'Back', customer_path(@device.customer_id) %>
