
<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Status:</b>
  <%= @customer.status %>
</p>
<p>
  <b>GO#:</b>
  <%= @customer.goNum %>
</p>
<p>
  <b>Device Count:</b>
  <%= @customer.deviceCount %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>


<h1>Listing devices</h1>

<table border ="1">
  <tr>
    <th>Name</th>
	<th>incom Address</th>
	<th>Device Type</th>
	<th>DS Name</th>
	<th>Frame Size</th>
	<th>Name Desc</th>
	<th>Location</th>
	<th>Bucket</th>
	<th>Trending</th>
	<th>CT Rating</th>
	<th>Voltage Class</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customer.devices.each do |device| %>
  <tr>
    <td><%= device.name %></td>
	<td><%= device.incomAddress %></td>
	<td><%= device.deviceType %></td>
	<td><%= device.dsName %></td>
	<td><%= device.frameSize %></td>
	<td><%= device.descName %></td>
	<td><%= device.descLocation %></td>
	<td><%= device.descBucket %></td>
	<td><%= device.trending %></td>
	<td><%= device.plugCTrating %></td>
	<td><%= device.voltageClass %></td>
    <td><%= link_to 'Show', customer_device_path(device.customer_id, device) %></td>
    <td><%= link_to 'Edit', edit_customer_device_path(device.customer_id, device) %></td>
    <td><%= link_to 'Destroy', [device.customer, device], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</br>
</br>
</br>

<div id="newDevice">
	<p id="notice"><%= notice %></p>
<%= form_for([@customer, @customer.devices.build]) do |f| %>
<table>
  <div class="field"><tr><td><%= f.label :name %></td> <td><%= f.text_field :name %></td></tr></div>
  <div class="field"><tr><td><%= f.label :incomAddress %></td> <td><%= f.text_field :incomAddress %></td></tr></div>
  <div class="field"><tr><td><%= f.label :deviceType %></td> <td><%= f.text_field :deviceType %></td></tr></div>
  <div class="field"><tr><td><%= f.label :dsName %></td> <td><%= f.text_field :dsName %></td></tr></div>
  <div class="field"><tr><td><%= f.label :frameSize %></td> <td><%= f.text_field :frameSize %></td></tr></div>
  <div class="field"><tr><td><%= f.label :descName %></td> <td><%= f.text_field :descName %></td></tr></div>
  <div class="field"><tr><td><%= f.label :descLocation %></td> <td><%= f.text_field :descLocation %></td></tr></div>
  <div class="field"><tr><td><%= f.label :descBucket %></td> <td><%= f.text_field :descBucket %></td></tr></div>
  <div class="field"><tr><td><%= f.label :trending %></td> <td><%= f.check_box :trending %></td></tr></div>
  <div class="field"><tr><td><%= f.label :plugCTrating %></td> <td><%= f.text_field :plugCTrating %></td></tr></div>
  <div class="field"><tr><td><%= f.label :voltageClass %></td> <td><%= f.text_field :voltageClass %></td></tr></div>
  <div class="actions"><tr><td></td><td><%= f.submit %></td></tr></div>
</table>
</div>
<% end %>
