<div id= "topNav"><%= link_to '<- Customers', customers_path %>
	<div id="customerHead">
	<b>Customer:</b><%= @customer.name %></br>
	<b>GO#:</b><%= @customer.goNum %></br>
	<b>Status:</b><%= @customer.status %></br>
	</div>
	<div id="edit"><%= link_to 'Edit', edit_customer_path(@customer) %></div>
</div>


<h1>Devices</h1><b>Device Count:</b><%= @customer.deviceCount %>

<table border ="1">
  <tr>
    <th>Name</th>
	<th>incom Address</th>
	<th>Device Type</th>
	<th>DS Name</th>
	<th>Frame Size</th>
	<th>Name Desc</th>
	<th>Location</th>
	<th>Bucket</th>
	<th>Trending</th>
	<th>CT Rating</th>
	<th>Voltage Class</th>
	<th>Status</th>
    <th></th>
    <th></th>
  </tr>

<% @customer.devices.each do |device| %>
  <tr>
    <td><%= link_to device.name, customer_device_path(device.customer_id, device) %></td>
	<td><%= device.incom_address %></td>
	<td><%= device.device_type %></td>
	<td><%= device.ds_name %></td>
	<td><%= device.frame_size %></td>
	<td><%= device.descName %></td>
	<td><%= device.desc_location %></td>
	<td><%= device.desc_bucket %></td>
	<td><%= device.trending %></td>
	<td><%= device.plug_ctrating %></td>
	<td><%= device.voltage_class %></td>
	<td><%= device.status %></td>
    <td><%= link_to 'Edit', edit_customer_device_path(device.customer_id, device) %></td>
    <td><%= link_to 'Destroy', [device.customer, device], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</br>
</br>
</br>

<div id="newDevice">
	<p id="notice"><%= notice %></p>
<%= form_for([@customer, @customer.devices.build]) do |f| %>
<table>
  <div class="field"><tr><td><%= f.label :name %></td> <td><%= f.text_field :name %></td></tr></div>
  <div class="field"><tr><td><%= f.label :incom_address %></td> <td><%= f.text_field :incom_address %></td></tr></div>
  <div class="field"><tr><td><%= f.label :device_type %></td> <td><%= f.text_field :device_type %></td></tr></div>
  <div class="field"><tr><td><%= f.label :ds_name %></td> <td><%= f.text_field :ds_name %></td></tr></div>
  <div class="field"><tr><td><%= f.label :frame_size %></td> <td><%= f.text_field :frame_size %></td></tr></div>
  <div class="field"><tr><td><%= f.label :descName %></td> <td><%= f.text_field :descName %></td></tr></div>
  <div class="field"><tr><td><%= f.label :desc_location %></td> <td><%= f.text_field :desc_location %></td></tr></div>
  <div class="field"><tr><td><%= f.label :desc_bucket %></td> <td><%= f.text_field :desc_bucket %></td></tr></div>
  <div class="field"><tr><td><%= f.label :trending %></td> <td><%= f.check_box :trending %></td></tr></div>
  <div class="field"><tr><td><%= f.label :plug_ctrating %></td> <td><%= f.text_field :plug_ctrating %></td></tr></div>
  <div class="field"><tr><td><%= f.label :voltage_class %></td> <td><%= f.text_field :voltage_class %></td></tr></div>
<div class="field"><tr><td><%= f.label :status %></td> <td><%= f.text_field :status %></td></tr></div>
  <div class="actions"><tr><td></td><td><%= f.submit %></td></tr></div>
</table>
</div>
<% end %>
